datasets
logs
_arch
dev
explanation_results
explanation_insertion_results
submodular_results
lima_origin/explanation_results
lima_origin/explanation_insertion_results
lima_origin/submodular_results
lima_llm_results*
*samples*
**/OUT**

**cache**
__pycache__/
.pytest_cache/
.venv/

*.png
*.JPEG
*.jpg
*.pdf

*.npy
*.pt
