datasets
logs
dev
explanation_results
explanation_insertion_results
submodular_results
lima_origin/explanation_results
lima_origin/explanation_insertion_results
lima_origin/submodular_results
lima_llm_results

**cache**
__pycache__/
.pytest_cache/

*.png
*.JPEG
*.jpg
*.pdf

*.npy
*.pt
